<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<wsdl>http://localhost/administracion/seguridad_data/Process_Service/Process_Service.asmx?wsdl</wsdl>
	
	<wsdlCat>http://localhost/ws_catalogos_data/service.asmx?wsdl</wsdlCat>
	<wsdlPdf>http://localhost/RptGenerado_data/default.aspx?</wsdlPdf>
	<wsdlRep>http://localhost/ws_reportes_data/service.asmx?wsdl</wsdlRep>
	<wsdlServ>http://localhost/ws_servicios_data/Service.asmx?wsdl</wsdlServ>
	<wsdlMail>http://localhost/ws_servicios_data/ServiceMail.asmx?wsdl</wsdlMail>
	<wsdlExpXls>http://150.150.23.11/ExcelExp/ExcelLib.aspx</wsdlExpXls>
	<wsdlCC>http://150.150.23.11/ws_consCirc_data/service.asmx?wsdl</wsdlCC>
</Configuration>